* {
    box-sizing: inherit;       
}

#fontfamilies {
    font-family: 'Courgette', cursive;
    font-family: 'Sriracha', cursive;
    font-family: 'Cambo', serif;
    font-family: 'Kotta One', serif;
    font-family: 'Alegreya', serif;
    font-family: 'Roboto Mono', monospace;
}

html, body {
    height: 100%;
    box-sizing: border-box;
    text-align: right;
}

body {
    background: url("../images/creampaper.png");
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777;
    line-height: 150%;
}

h1 {
    margin: 50px 0 20px;
    font-family: 'Cambo', serif;
    display: inline-block;
    font-size: 8vw;
    line-height: 4.5vw;
    vertical-align: -20px;
}

.arena {
    /* margin: 10px 0; */
    font-family: 'Cambo', serif;
    color: #c55555;
    font-size: 4vw;
    line-height: 2.5vw;
}

.portfolio {
    font-family: 'Cambo', serif;
    color: #22e;
    font-size: 4vw;
    display: inline;
    vertical-align: -3vw;
}

.dec, .varname, .punc {
    font-family: 'Alegreya', serif;
}

.dec {
    color: #6663;
}

.varname {
    color: #22e3;
}

.punc {
    color: #4aaaa533;
}

li {
    list-style: none;
    display: inline-block;
}

p {
    margin: 0 0 .5rem 0;
}

a {
    text-decoration: none;
    color: #777;    
}

a:hover {
    color: #4aaaa5;
}

input[type=text], input[type=email], textarea {
    width: 100%;
    padding: 5px;
    border: solid 1px #ddd;
    color: #777;
}

textarea {
    height: 200px;
    resize: none;
}

input[type=submit] {
    width: 100px;
    background-color: #4aaaa5;
    color: white;
    border: none;
    height: 40px;
    font-size: medium;
}

#wrap {
    min-height: 100%;
}

#projectSet ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.project {
    vertical-align: top;
    width: 250px;
    margin: 10px;
    background-color: rgb(219, 217, 197);
    border-radius: 10px;
    overflow: hidden;
    display: inline-block;
}

.small {
    width: 10%;
}

.project img {
    width: 100%;
    margin: 0;
    margin-bottom: -8px;
}

.info {
    border-top: 2px solid #333;
    padding: 10px 10px 5px;
    font-family: 'Roboto Mono', monospace;
    font-size: 12px;
    line-height: 12px;
    display: none;
}

.titleBar {
    height: 25px;
    clear: both;
}

.info a {
    border: 1px solid #444;
    padding: 1px 3px;

}

.info li {
    display: inline-block;
    padding: 4px 4px;
    margin: 2px;
    border-radius: 5px;
    /* background-color: red; */
}

.projectLinks {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.link {
    /* width: 48%; */
    font-size: 10px;
    text-align: center;
    border: 1px #444 solid;
    border-radius: 5px;
}

.project a {
    display: block;
}

.projectName {
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    /* line-height: 20px; */
    color: #222;
    font-family: 'Cambo', serif;
}

.projectType, .collab {
    margin: 0 0 0 4px;
    font-style: italic;
    float: right;
    background-color: rgba(0, 0, 0, 0.288);
    color: #ddd;
    display: inline-block;
    padding: 5px;
    border-radius: 5px;
}

.projectDesc {
    text-align: initial;
}

.project li {
    flex-grow: 1;
}

.logic {
    background-color: rgb(243, 113, 113);
    color: #fff;
}

.presentation {
    background-color: rgb(118, 204, 118);
    color: #fff;
}

.framework {
    background-color: rgb(106, 106, 240);
    color: #fff;
}

#main-content {
    padding: 0 20px 70px;
}

section {
    background-color: #fff;
    padding: 20px;
    border: 2px solid #ddd;
    width: 100%;
    display: inline-block;
    margin: 0 0 20px;
    text-align: justify;
    overflow: auto
}

#about img {
    width: 100%;
    margin: 0 1rem .5rem 0;
}

#connect li {
    padding: 0 10px;
}

footer {
    line-height: 66px;
    height: 70px;
    border-top: solid 4px #4aaaa5;
    background-color: #666;
    font-size: small;
    color: #bbb;
    text-align: center;
    overflow: hidden;
    margin-top: -70px;
}

@media screen and (min-width: 640px) {
    header {
        height: 70px;    
    }
    
    #about img {
        width: 50%;
        float: left;                
    }      
}

@media screen and (min-width: 768px) {

}

@media screen and (min-width: 980px) {      

}