* {
    box-sizing: inherit;       
}

html, body {
    height: 100%;
    box-sizing: border-box;
    text-align: right;
    font-size: 2vh;
}

body {
    background: url("../images/creampaper.png");
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777;
    line-height: 150%;
}

.flavor {
    display: inline;
}

#name {
    font-family: 'Cambo', serif;
    font-size: 8vh;
    line-height: 8vh;
    padding: 0 2vw;
    display: block;
}

h1 {
    font-family: 'Cambo', serif;
    font-size: 8h;
    line-height: 8vh;
    display: inline;
}

#arena {
    font-family: 'Cambo', serif;
    color: #c55555;
    font-size: 4vh;
    line-height: 2.5vh;
    padding: 1vh 2vw 2vh;
}

.dec, .varname, .punc {
    font-family: 'Alegreya', serif;
}

.dec {
    color: #6663;
}

.varname {
    color: #22e3;
}

.punc {
    color: #4aaaa533;
}

li {
    list-style: none;
    display: inline-block;
}

p {
    margin: 0 0 .5rem 0;
}

a {
    text-decoration: none;
    color: #777;    
}

a:hover {
    color: #4aaaa5;
}

#wrap {
    min-height: 100%;
    padding-top: 3vh;
    padding-bottom: 3vh;
}

#projectsMenu {
    font-family: 'Cambo', serif;
    color: #22e;
    font-size: 4vh;
    background-color: rgba(255, 26, 26, 0.151);
    padding: 2vh 2vw;
    margin: -1vh 0;
    vertical-align: middle;
    background: red; /* For browsers that do not support gradients */
    background: linear-gradient(to bottom,
    rgba(255,0,0,0),
    rgba(114, 26, 255, 0.295) 1vh,
    rgba(114, 26, 255, 0.295) calc(100% - 1vh), 
    rgba(255,0,0,0)); /* Standard syntax (must be last) */
}

.hidden {
    display: none;
}

.inline {
    display: inline-block;;
}

.logic {
    background-color: rgb(243, 113, 113);
    color: #fff;
}

.presentation {
    background-color: rgb(118, 204, 118);
    color: #fff;
}

.framework {
    background-color: rgb(106, 106, 240);
    color: #fff;
}

.server {
    background-color: rgb(252, 243, 152);
    color: rgb(92, 76, 7);
}

.projectType {
    font-style: italic;
    background-color: rgba(0, 0, 0, 0.288);
    color: #ddd;
}

.collab {
    background-color: rgba(0, 0, 0, 0.288);
    color: #ddd;
}

.filterArea {
    margin-left: -1vw;
    margin: .5vh .5vw .5vh 0;
    vertical-align: middle;
}

.hideFilter {
    display: none;
}

.filterText {
    color: #5288da;
    font-size: 2.5vh;
    vertical-align: middle;
    line-height: 4vh;
}

#filterSet {
    display: inline;
}

#filterSet ul {
    /* vertical-align: baseline; */
    margin: auto;
    display: inline;
    max-width: 70%;
}

#filterSet li {
    vertical-align: middle;
    margin: 0 .25vw;
}

.filter {
    line-height: 2vh;
    font-size: 1.5vh;
    margin: 0 .5vw .5vh;
    border-radius: 10px;
    padding: .3vh 1vw;
}

.dim {
    background-color: transparent;
    color: #999;
    border: 1px solid #999;
}

.thumbnail {    
    display: inline-block;
    vertical-align: middle;
}

.thumbnail p {
    display: inline-block;
    margin: 0 3px;
}

.thumbnail img {
    border-radius: 10px;
    overflow: hidden;
    height: 4vh;
    overflow: auto;
}

#thumbSet {
    display: inline;
    overflow: visible;
}

#projectsDisplay {
    display: none;
    margin: -.25vh 0;
    max-height: 64vh;
    overflow: auto;
    background: red; /* For browsers that do not support gradients */
    background: linear-gradient(to bottom,
    rgba(255,0,0,0),
    rgba(114, 26, 255, 0.295) .9vh,
    rgba(18, 224, 197, 0.521) calc(100% - .9vh), 
    rgba(255,0,0,0)); /* Standard syntax (must be last) */
}

.project {
    vertical-align: top;
    text-align: left;
    width: 250px;
    margin: 10px;
    background-color: rgb(219, 217, 197);
    border-radius: 10px;
    overflow: hidden;
    display: inline-block;
}

.project img {
    width: 100%;
    margin: 0;
    margin-bottom: -8px;
}

.info {
    border-top: 2px solid #333;
    padding: 10px 10px 5px;
    font-family: 'Roboto Mono', monospace;
    font-size: 12px;
    line-height: 12px;
}

.titleBar {
    height: 25px;
    clear: both;
}

.info a {
    border: 1px solid #444;
    padding: 1px 3px;

}

.tag {
    padding: 4px 4px;
    border-radius: 5px;
}

.info li {
    display: inline-block;
    margin: 2px;
}

.projectLinks {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 48%;
}

.link {
    font-size: 10px;
    text-align: center;
    border: 1px #444 solid;
    border-radius: 5px;
}

.project a {
    display: block;
}

.projectName {
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    color: #222;
    font-family: 'Cambo', serif;
}

.project .collab {
    float: right;
}

.project .projectType {
    float: right;
}

.projectDesc {
    text-align: initial;
}

.project li {
    flex-grow: 1;
}

.contact {
    vertical-align: top;
    display: inline-block;
    margin: 1vh 0;
}

#contact {
    background-color: rgba(143, 1, 179, 0.069);
    font-size: 3vh;
    padding: 2vh 2vw;
    margin: -1.1vh 0;
    background: rgba(143, 1, 179, 0.069); /* For browsers that do not support gradients */
    background: linear-gradient(to bottom,
    rgba(255,0,0,0),
    rgba(18, 224, 197, 0.521) .9vh,
    rgba(18, 224, 197, 0.521) calc(100% - .9vh), 
    rgba(255,0,0,0)); /* Standard syntax (must be last) */
    overflow: hidden;
}

#contactContainer {
    display: inline-block;
}

#network {
    vertical-align: top;
}

#network ul {
    display: inline-block;
}

#network img {
    width: 3vw;
    height: 3vw;
    vertical-align: middle;
}

#emailForm {
    display: inline-block;
}

#emailForm form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 300px;
}

#contact input[type=text], input[type=email] {
    width: 50%;
    border: 1px solid #aaa;
    padding: 2px;
    display: inline-block;
}

#contact textarea {
    border: 1px solid #aaa;
    width: 100%;
    resize: none;
    padding: 2px;
    height: 2em;
}

#contact textarea:focus {
    height: 20vh;
}

.submit {
    background-color: transparent;
    display: inline-block;
    font-size: 2vh;
    line-height: 2vh;
    border-radius: 1.5vw;
    padding: 10px 5px;
    border-left: .25vw blue solid;
    border-right: .25vw blue solid;
    border-top: none;
    border-bottom: none;
    vertical-align: middle;
    cursor: pointer;
    margin-left: .5vw;
}

#about img {
    width: 100%;
    margin: 0 1rem .5rem 0;
}

footer {
    line-height: 2vh;
    height: 2vh;
    border-top: solid 1px #4aaaa5;
    background-color: #666;
    font-size: x-small;
    color: #bbb;
    text-align: center;
    overflow: hidden;
    margin-top: -2vh;
}

@media screen and (max-width: 640px) {

    #wrap {
        background-color: red;
    }

    #arena {
        margin-top: 1vh;
    }
    
    .contact form {
        order: 1;
    }
    
    #emailForm {
        float: none;
        order: 2;
    }

    #network {
        order: 3;
    }
    
    #about img {
        width: 50%;
        float: left;                
    }   
    
}

@media screen and (min-width: 768px) {

}

@media screen and (min-width: 980px) {      
}

.clear {
    clear: both;
}

#fontfamilies {
    font-family: 'Courgette', cursive;
    font-family: 'Sriracha', cursive;
    font-family: 'Cambo', serif;
    font-family: 'Kotta One', serif;
    font-family: 'Alegreya', serif;
    font-family: 'Roboto Mono', monospace;
}