* {
    box-sizing: inherit;       
}

html, body {
    height: 100%;
    box-sizing: border-box;
    text-align: right;
    font-size: 1rem;
}

body {
    background: url("../images/creampaper.png");
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777;
    line-height: 150%;
}

.flavor {
    display: inline;
}

#name {
    font-family: 'Cambo', serif;
    font-size: 3rem;
    line-height: 3rem;
    padding: 0 1rem;
    display: block;
}

h1 {
    font-family: 'Cambo', serif;
    display: inline;
}

#arena {
    font-family: 'Cambo', serif;
    color: #c55555;
    font-size: 2rem;
    line-height: 2rem;
    padding: 1vh 2vw 2vh;
}

.dec, .varname, .punc {
    font-family: 'Alegreya', serif;
}

.dec {
    color: #6663;
}

.varname {
    color: #22e3;
}

.punc {
    color: #4aaaa533;
}

li {
    list-style: none;
    display: inline-block;
}

a {
    text-decoration: none;
    color: #777;    
}

a:hover {
    color: #4aaaa5;
}

#wrap {
    min-height: 100%;
    padding-top: 1rem;
    padding-bottom: 5rem;
    /* For browsers that do not support gradients */
    background: rgba(114, 26, 255, 0.295); 
    background: linear-gradient(to bottom,
        rgba(18, 224, 197, 0.0), 
        rgba(114, 26, 255, 0.425)
        );
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#projects {
    font-family: 'Cambo', serif;
    color: rgb(84, 84, 208);
    font-size: 2rem;
    line-height: 2rem;
    background-color: rgba(255, 26, 26, 0.151);
    padding: .5rem .5rem;
    background: rgba(114, 26, 255, 0.295);
    /* For browsers that do not support gradients */
    background: linear-gradient(to left,
    rgba(114, 26, 255, 0.295),
    rgba(18, 224, 197, 0.521) 
    );
    /* Standard syntax (must be last) */
    background-repeat: no-repeat;
}

.thumbnail {    
    display: inline-block;
    margin-top: .5rem;
}

.thumbnail p {
    display: inline-block;
    margin: 0 3px;
}

.thumbnail img {
    border-radius: 10px;
    overflow: hidden;
    height: 1.5rem;;
    overflow: auto;
}

#thumbSet {
    display: inline;
}

.hidden {
    display: none;
}

.flex {
    display: flex;
}

.inline {
    display: inline-block;
}

.logic {
    background-color: rgb(243, 113, 113);
    color: #fff;
}

.presentation {
    background-color: rgb(118, 204, 118);
    color: #fff;
}

.framework {
    background-color: rgb(106, 106, 240);
    color: #fff;
}

.server {
    background-color: rgb(252, 243, 152);
    color: rgb(92, 76, 7);
}

.projectType {
    font-style: italic;
    background-color: rgba(0, 0, 0, 0.288);
    color: #ddd;
}

.collab {
    background-color: rgba(0, 0, 0, 0.288);
    color: #ddd;
}

.viewAll, .viewNone {
    vertical-align: middle;
    font-size: .75rem;
    border-radius: 10px;
    padding: .2rem .4rem;
    border: 1px solid #777;
    color: white;
}

.viewAll {
    background-color: #dd380e;
}

.viewNone {
    background-color: #4aaaa5;
}

.viewButtons {
    color: #5288da;
    font-size: 1rem;
    vertical-align: middle;
    line-height: 4vh;
}

.filterArea {
    margin-top: .5rem;
    font-size: 2rem;
}

#filterSet {
    display: inline;
}

#filterSet ul {
    display: inline;
}

#filterSet li {
    margin: 0 .25rem;
    font-size: 1rem;
    line-height: 2rem;
    vertical-align: middle;
    padding: 0 .5rem;
}

.filter {
    border-radius: 10px;
    border: 1px solid #999;
}

.dim {
    background-color: transparent;
    color: #999;
}

#projectsDisplay {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}

.project {
    /* height: 22rem; */
    vertical-align: middle;
    text-align: left;
    width: 230px;
    margin: 10px;
    background-color: rgb(219, 217, 197);
    border-radius: 10px;
    overflow: hidden;
}

.project img {
    width: 100%;
    margin: 0;
    flex: 1;
    border-bottom: 2px solid #333;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 10px 10px 5px;
    height: 9rem;
    font-family: 'Roboto Mono', monospace;
    font-size: 12px;
    line-height: 12px;
}

.titleBar {
    height: 25px;
    flex: 1;
}

.projectName {
    text-align: center;
    font-weight: bold;
    font-size: 1rem;
    color: #222;
    font-family: 'Cambo', serif;
}

.info a {
    border: 1px solid #444;
    padding: 1px 3px;
}

.tag {
    padding: 4px 4px;
    border-radius: 5px;
}

.info li {
    display: inline-block;
    margin: 2px;
}

.tagList {
    flex: 1;
    margin-bottom: auto;
}

.projectType {
    float: right;
}

.projectDesc {
    flex: 1;
    text-align: initial;
    color: #444;
    margin-bottom: .25rem;
}

.project li {
    flex-grow: 1;
}

.projectLinks {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 48%;
}

.link {
    font-size: 10px;
    text-align: center;
    border: 1px #444 solid;
    border-radius: 5px;
}

.project a {
    display: block;
}

#about {
    display: flex;
    flex-wrap: wrap-reverse;
    align-items: center;
    justify-content: space-evenly;
    padding: 2rem;
    overflow: visible;
    text-align: left;
    background-color: rgba(18, 224, 197, 0.521);
    background: linear-gradient(to left,
    rgba(255,0,0,0),
    rgba(96, 247, 202, 0.521)
    );
    /* Standard syntax (must be last) */
    background-repeat: no-repeat;
    height: auto !important;
}

#about section {
    color: #333;
    min-width: 24rem !important;
    margin: 0 auto;
    width: 24rem;
    height: 9rem;
}

#about p {
    vertical-align: bottom;
    font-size: 1.5rem;
    line-height: 2rem;
    font-family: 'Cambo', serif;
}

#about img {
    width: 30%;
    min-width: 20rem;
    margin: 0 auto;    
}

span.iAm, span.iLike {
    white-space: pre-line;    
}

.contact {
    display: inline-block;
}

footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    height: 5rem;
    overflow: hidden;
    margin-top: -5rem;
    font-size: 1.5rem;
    text-align: center;
    padding: 1rem;
    background: rgba(143, 1, 179, 0.069);
    background-color: rgba(143, 1, 179, 0.069);
    /* For browsers that do not support gradients */
    background: linear-gradient(to bottom,
        rgba(255,0,0,0),
        rgba(18, 224, 197, 0.521) .9vh, 
        rgba(159, 248, 236, 0.918)
        );
        /* Standard syntax (must be last) */
    background-repeat: no-repeat;
}

#network img {
    width: 2.5rem;
    height: 2.5rem;
}

footer p {
    margin: -.5rem 0 .5rem;
}

#emailForm form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 300px;
}

#emailForm  input[type=text], input[type=email] {
    width: 50%;
    border: 1px solid #aaa;
    padding: 2px;
    display: inline-block;
}

#emailForm tact textarea {
    border: 1px solid #aaa;
    width: 100%;
    resize: none;
    padding: 2px;
    height: 2em;
}

#emailForm textarea:focus {
    height: 20vh;
    outline: none;
}

span.clear { clear: left; display: block; }

#fontfamilies {
    font-family: 'Cambo', serif;
    font-family: 'Kotta One', serif;
    font-family: 'Alegreya', serif;
    font-family: 'Roboto Mono', monospace;
}